            <!-- ========== Left Sidebar Start ========== -->
            <div class="left-side-menu">

                <div class="slimscroll-menu">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <li class="menu-title">MENU</li>

                            <li>
                                <a href="./#/dashboard">
                                    <i class="fas fa-tachometer-alt"></i>
                                    <span> Dashboard </span>
                                </a>
                            </li>

                            <li>
                                <a href="./#/dashboard/tarjetas">
                                    <i class="far fa-address-card"></i>
                                    <span> Mis tarjetas </span>
                                </a>
                            </li>

                            <li>
                                <a href="./#/dashboard/empresas">
                                    <i class="fas fa-industry"></i>
                                    <span> Mis empresas </span>
                                </a>
                            </li>

                            <!--li>
                                <a href="javascript: void(0);">
                                    <i class="la la-cube"></i>
                                    <span> Configuraciones</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="apps-calendar.html">Calendar</a>
                                    </li>
                                    <li>
                                        <a href="apps-contacts.html">Contacts</a>
                                    </li>
                                    <li>
                                        <a href="apps-tickets.html">Tickets</a>
                                    </li>
                                </ul>
                            </li-->

                        </ul>

                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->