  <!--REGISTRO-->
  <div class="registro-page" style="display: none;">
      <div class="container d-flex align-items-center">
          <div class="form-holder has-shadow">
              <div class="row">
                  <!-- Logo & Information Panel-->
                  <div class="col-lg-6">
                      <div class="info d-flex-logo align-items-center">
                          <div class="content">
                              <div class="logo">
                                  <img src="./assets/img/logo_vcard.min.png">
                                  <h1>Registro</h1>
                              </div>
                              <p>"Conectando negocios y profesionales"</p>
                          </div>
                      </div>
                  </div>
                  <!-- Form Panel    -->
                  <div class="col-lg-6 bg-white">
                      <div class="form d-flex align-items-center">
                          <div class="content">
                              <form id="registro-form" class="text-left form-validate">
                                  <!--div class="form-group-material">
                    <input id="register-username" type="text" name="registerUsername" required data-msg="Please enter your username" class="input-material">
                    <label for="register-username" class="label-material">Usuario </label>
                  </div-->
                                  <div class="form-group-material">
                                      <input id="register-email" type="email" name="registerEmail" required
                                          data-msg="Please enter a valid email address" class="input-material">
                                      <label for="register-email" class="label-material">Email </label>
                                  </div>
                                  <div class="form-group-material">
                                      <input id="register-password" type="password" name="registerPassword" required
                                          data-msg="Please enter your password" class="input-material">
                                      <label for="register-password" class="label-material">Contraseña </label>
                                  </div>
                                  <div class="form-group terms-conditions text-center">
                                      <input id="register-agree" name="registerAgree" type="checkbox" required value="1"
                                          data-msg="Your agreement is required" class="checkbox-template">
                                      <label for="register-agree"><a target="_blank" href="privacidad.html">Políticas de
                                              Privacidad</a></label>
                                  </div>
                                  <div class="form-group text-center">
                                      <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                                      <!--input id="register" type="submit" value="Register" class="btn btn-primary"-->
                                      <button type="button" class="btn btn-info btn-block"
                                          id="googleRegister">Registrarse con Google</button>
                                  </div>
                              </form>
                              <small>&iquest;Ya tienes una cuenta? </small><a href="./" class="signup">Login</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="copyrights text-center">
          <!--p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p-->
          <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
      </div>
  </div>
  <!--//REGISTRO-->