/* your styles go here */
.box-body{
  width: 100%;
  padding: 0 1%;
}
.modal-header,.modal-footer{
  display:inherit !important;
}
.modal-dialog{
  width: 100% !important;
}
.modal-footer{
  width: 100% !important;
  text-align: right !important;
}